*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
#wrapper{
    width: 800px;
    margin: 0 auto;
}
#wrapper h1{
    font-size: 18px;
    color: #9D7DDA;
    background-color: #DDDDDD;
    text-transform: capitalize;
    text-align: center;
    margin: 80px -15px 25px;
    padding: 20px;
    border-radius: 20px;
}
div{
    text-align: center;
}
#wrapper article{
    background-color: #EEEEEE;
    text-align: center;
    width: 22%;
    display: inline-block;
    height: 280px;
    border-radius: 20px;
    margin: 9px;
}
article div{
    background: #9470DC;
    height: 55%;
    border-radius: 50%;
    line-height: 150px;
    margin: 4%;
    font-size: 3.5em;
    color: white;
}
article div:hover{
    cursor: pointer;
    background-color: white;
    color: #9470DC;
}
article p{
    margin-top: 25px;
    color: #BBB1B9;
}
article button{
    margin-top: 20px;
    border: 1px solid #DDDDDD;
    background: none;
    background-color: #DDDDDD;
    padding: 10px 45px;
    border-radius: 15px;
    text-transform: capitalize;
    color: #65666B;
    font-weight: bolder;
    font-size: 16px;
}
article button:hover{
    cursor: pointer;
    background-color: white;

}
