
body{

}
footer{
    background-color: #292929;
    padding: 15px;
    height: 200px;
    
}
section{
    width: 20%;
    display: inline-block;
    float: left;
}
section h2{
    text-transform: uppercase;
    color: white;
}
ul{
    padding-left: 0;
    display: block;
    font-size: 25px;
    text-transform: capitalize;
}
ul li{
    padding-left: 0;
    list-style-type: none;
}
ul li a{
    color: gray;
    text-decoration: none;
}
footer > section > div div {
    width: 70px;
    height: 58px;
    background: url("images/social.jpg");
    display: inline-block;
}

.twitter {
    background-position: 772px 126px;
}

.linkedin {
    background-position: 642px 126px;
}

.youtube {
    background-position: 325px 126px;
}

.facebook, .twitter, .youtube, .linkedin {
    cursor: pointer;
}

.facebook:hover {
    background-position: 0 60px;
}

.linkedin:hover {
    background-position: 642px 63px;
}

.youtube:hover {
    background-position: 325px 63px;
}

.twitter:hover {
    background-position: -66px 63px;
}