@import url('https://fonts.google.com/selection?selection.family=Lato');

body {
    font: 14px 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #C0A991;
    font-size: 14px;
}
nav{
    float: left;
    width: 98%;
    margin: 0 auto;
}
nav p{
    color: white;
    font-weight: bold;
    font-size: 25px;
    margin-left: 25px;

}
nav ul{
    margin-top: -35px;
    float: right;
}
nav ul li{
    display: inline-block;
    margin-right: 15px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding-right: 20px;
}
nav li:last-of-type a{
    border: 2px solid white;
    padding: 10px 15px;
    border-radius: 25px;
}
nav li:last-of-type a:hover{
    background-color: #867260;
    border-color: #867260;
}
header{
    margin-top: -30px;
    height: 730px;
}

header h1 {
    text-transform: capitalize;
    text-align: center;
    color: white;
    padding-top: 180px;
    font-size: 50px;
    font-weight: 100;
}
h3{
    text-align: center;
    color: #EBEBD2;
    font-weight: 100;
}
header img{
    padding-bottom: 22px;
    width: 30%;
    display: block;
    margin: 40px auto;
}
.features{
    background:url("images/potato-background.png") no-repeat fixed;
    height: 730px;
    background-size: cover;
    display: block;
}
.features-title {
    font-weight:lighter ;
    margin-top: 0;
    padding-top: 200px;
    font-size: 3em;
    text-align: center;
}

.features-subtitle{
    width: 35%;
    margin:  0 auto;
    color: gray;
}
.features img{
    display: block;
    margin:  25px auto;
    width: 35%;
}
main{
    border-top: 2px solid gray;
    background-color: #FAFAFA;
}
.buy-now{
    border-top: 2px solid gray;
    height: 685px;
}
.buy-now img{
    display: block;
    width: 60%;
    margin: 0 auto;
}
.buy-now {
    text-align: center;
}
.order-title{
    font-size: 45px;
    font-weight: lighter;
    text-align: center;;
}
.potato{
    width: 20%;
    vertical-align: top;
    display: inline-block;
    border-right: 2px solid #CECECE;
    height: 550px;
    text-align: center;
    line-height: 40px;
}
.potato button{
    margin: 15px;
}
.potato-title {
    color: #68685D;
    font-weight: 300;
    text-transform: capitalize;
    font-size: 30px;
}
.btn-order {
    text-transform: uppercase;
    border: 2px solid #A4D248;
    color: #A4D248;
    background-color: transparent;
    padding: 5px 20px;
    font-size: 20px;
    border-radius: 20px;
}
.btn-order:hover {
    background-color: #9ACD32;
    cursor: pointer;
    color: #ffffff;
}
.potato-features{
    padding: 0;
    color: #9C9C8C;
    list-style-type: none;
    text-align: center;
}
.potato-price{
    color: red;
    font-size: 20px;
    text-align: center;
}
footer {
    background-color: #867260;
}
.footer-text {
    color: #ffffff;
    text-align: center;
    margin: 0;
    padding:15px;
}


